<ion-popover-view class="fit" ng-controller="gameCtrl">
<div>
    <ion-list>

      <ion-item> <!-- Show Ranking -->
        <p class="button button-clear menuListButton" ng-click="">{{translation.menu[j=0]}}</p>
      </ion-item>
      <ion-item> <!-- New Level -->
        <p class="button button-clear menuListButton" ng-click="closePopover();levelRequest();">{{translation.menu[1]}}</p>
      </ion-item>
      <ion-item> <!-- User Name -->
        <p class="button button-clear menuListButton" ng-click="closePopover();enterName();">{{translation.menu[2]}}</p>
      </ion-item>

    </ion-list>
</div>
</ion-popover-view>
