<ion-modal-view>

  <ion-content>
    <div class="list">
      <div class="item item-divider padding">
        <div class="row">
          <div class="col-15"><button ng-click="closeModal()" class="button button-icon icon-left ion-close"></button></div>
          <div class="col" style="font-size=15px !important;"><p style="font-size:20px !important; font-weight:bold !important;">Username</p>Score: {{totalPoints}}</div>
        </div>


      </div>
      <div class="item"><div class="row">
        <div class="col">1.</div>
        <div class="col">100000</div>
        <div class="col">Foooooooooooooooooooooooooo</div>
      </div></div>
      <div class="item"><div class="row">
        <div class="col">2.</div>
        <div class="col">99823</div>
        <div class="col">Boo</div>
      </div></div>
      <div class="item"><div class="row">
        <div class="col">...</div>
        <div class="col" style="margin-left: -25%;">...</div>
        <div class="col">...</div>
      </div></div>
      <div class="item"><div class="row">
        <div class="col">1912012.</div>
        <div class="col">12</div>
        <div class="col">Frodolinovickiesgaja</div>
      </div></div>
      <div class="item"><div class="row">
        <div class="col">19120111112.</div>
        <div class="col">11111111112</div>
        <div class="col">Frodasdasdasdadolinovickiesgaja</div>
      </div></div>
    </div>

  </ion-content>
</ion-modal-view>
