.menuListButton {
  color: $dark !important;
  font-size: 17px !important;
  margin: -10px 0px -15px -10px !important;
  background-color: teal !important;
}

ion-list {

      display:flex;
      justify-content:center;
      align-items:flex-end;
      flex-direction: column;
}

// Copied from https://forum.ionicframework.com/t/popover-sizing/8251/8 16.03.2017; 00:20
ion-popover-view.fit {

  height: auto !important;
  width:  auto !important;
  border-radius: 10px !important;
background-color: blue;
}
ion-popover-view.fit div {
  position: relative !important;
background-color: red;
  border-radius: 10px !important;
}
ion-popover-view.fit .item:first-child {
  border-radius: 10px 10px 0 0;
}
ion-popover-view.fit .item:last-child {
   border-radius: 0 0 10px 10px;
}
