/*
 *  For centering some of the elements I used code from http://howtocenterincss.com/ (19.04.2017, 22:26)
 */

.screen {
  padding: 5px 5px 5px 5px !important;
  /*background-color: #00a01a; /*(old color)*/ }

.heading {
  text-align: center;
  color: #ffffff; }

.text {
  text-transform: none    !important;
  word-break: normal  !important;
  color: #ffffff !important; }

.title {
  font-size: 40px    !important;
  color: #ffffff !important; }

/* GameTable */
$gameTableWidth: 96vw;
$padding: 2vw;
$margin: 1vw;
.size-3 {
  margin: $margin;
  $buttons: 3;
  $buttonWidth: ( $gameTableWidth - $margin*2*$buttons - 2*$padding)/$buttons;
  width: $buttonWidth;
  height: $buttonWidth - 1vw;
}
.size-5 {
  margin: $margin/2;
  $buttons: 5;
  $buttonWidth: ( $gameTableWidth - $margin/2*2*$buttons - 2*$padding)/$buttons;
  width: $buttonWidth - 0.5vw;
  height: $buttonWidth - 0.5vw;
}
.gameButton {
  border-style: solid !important;
  border-color: $stable !important;
  border-width: 0.75vw !important;
  display:flex;
  justify-content:center;
  align-items:center;
}
.button-icon {
  font-size: 12vw;
}

.gameTable {
  padding: $padding;
  width: $gameTableWidth       !important;
  height: $gameTableWidth      !important;
  margin-top: -50%;
  margin-left: -(100vw-$gameTableWidth)/2;
  position: absolute;
  top: 50%;
  left: (100vw-$gameTableWidth);
  border-radius: 5%;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Winning Banner */
#gameOver {
  position: fixed !important;
  z-index: 1000   !important;
  width: auto     !important;
  height: 35% !important;
  top: 29.25%       !important; }
#gameOverTitle {
  font-size: 60px !important;
  color: #ffffff  !important; }

// Header
.menuButton {
  margin-left: 2vw;
}

// Footer
.footerButton {
  width:50%;
  margin-left:25%;
  position:absolute !important;
  left: -5px;
  font-weight:normal !important;
  font-size:40px !important;
}

/* Colors for side-menues */
#light {
  background-color: $light  !important; }

#stable {
  background-color: $stable !important; }

#positive {
  background-color: $positive !important; }

#calm {
  background-color: $calm !important; }

#balanced {
  background-color: $balanced !important; }

#energized {
  background-color: $energized !important; }

#assertive {
  background-color: $assertive !important; }

#royal {
  background-color: $royal !important; }

#dark {
  background-color: $dark    !important; }
