.screen {
  padding: 5px 5px 5px 5px !important;
  /*background-color: #00a01a; /*(old color)*/ }

.heading {
  text-align: center;
  color: #ffffff; }

.text {
  text-transform: none    !important;
  word-break: normal  !important;
  color: #ffffff !important; }

.title {
  font-size: 40px    !important;
  color: #ffffff !important; }

/* GameTable buttons */
.gameButton {
  margin: 5px 5px 5px 5px;
  padding: 2px;
  border-radius: 5px;
//  width: 100%;
//  height: 100%;
  width: 100%;
height: 100px !important;
  max-width: 33%;
}


.container {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
}

.container div {
  background:#555;
  border: solid 1px #000;
  width: 100%;
  max-width: 33%;
}

.gameTable {
  width: 90%          !important;
  height: 0          !important;
  padding-bottom: 90% !important;
  margin: -50% 0% 0% -5%;
  position: absolute;
  top: 50%;
  left: 10%;
  border-radius: 5%; }

#gameOver {
  position: fixed !important;
  z-index: 1000   !important;
  width: auto     !important;
  height: 40%     !important;
  top: 20%        !important; }

#gameOverTitle {
  font-size: 60px !important;
  color: #ffffff  !important; }

/* Colors for side-menues */
#light {
  background-color: $light  !important; }

#stable {
  background-color: $stable !important; }

#positive {
  background-color: $positive !important; }

#calm {
  background-color: $calm !important; }

#balanced {
  background-color: $balanced !important; }

#energized {
  background-color: $energized !important; }

#assertive {
  background-color: $assertive !important; }

#royal {
  background-color: $royal !important; }

#dark {
  background-color: $dark    !important; }
