<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
     <link href="css/ionic.app.css" rel="stylesheet">

     <link href="/scss/ionic.app.scss" rel="text/css">



    <!-- Additional styling sheet -->
    <link href="/scss/style.scss" rel="text/css">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script providing $cordovaFile -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- app's js -->
    <script src="js/app.js"></script>
    <script src="js/factory/fileService.js"></script>
    <script src="js/factory/service.js"></script>
    <script src="js/controller/viewCtrl.js"></script>
    <script src="js/controller/gameCtrl.js"></script>
    <script src="js/factory/view.js"></script>
    <script src="js/factory/game.js"></script>
    <script src="js/factory/cache.js"></script>
    <script src="js/factory/generator.js"></script>

    <!-- Swiper -->
  <!--Remember swiper initializer-->
    <!--<link rel="stylesheet" href="lib/Swiper/dist/css/swiper.min.css">-->
    <!--<script src="lib/Swiper/dist/js/swiper.min.js"></script>-->
  </head>
  <body ng-app="app" ng-controller="viewCtrl">
    <ion-pane>

      <!-- Header -->
      <div class="bar bar-header" ng-controller="gameCtrl">
        <button class="button button-icon icon-left ion-navicon"></button>
        <div class="padding-top" style="font-size:30px; margin-left:35%;">{{totalPoints}}</div>
      </div>

      <!-- Content -->
      <ion-side-menus ng-controller="gameCtrl">
        <!-- Game Content -->
        <ion-side-menu-content>
          <!--<div class="container">
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
            <div></div><div></div><div></div>
          </div>-->
          <div class="gameTable padding" id="{{appColor}}">
            <div  class     = "row"
                  ng-repeat = "row in gameTable">
              <div class     = "gameButton"
                   id        = "stable"
                   ng-repeat = "column in row">
                <div  class     = "button button-{{column.color}}"
                      ng-click  = "buttonHit({{column.pos}})"
                      style     = "width: 100%; height: 100%;">
                    <div class="{{colorToIcon(column.color)}}" style="{{iconVisibility}}"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Game Over -->
          <div id="gameOver" class="bar bar-{{appColor}} row button button-full" ng-click="levelRequest()" style="{{winBannerVisibility}}"><!-- bar as banner and row and column for centering h1 -->
            <div class="col col-center">
              <h1 id="gameOverTitle" align="center">Tip Top!</h1>
              <span class="text">{{totalPoints}}</span>
            </div>
          </div>
        </ion-side-menu-content>

        <!-- Help -->
        <ion-side-menu side="left" class="screen help">
          <ion-content id="{{appColor}}" class="padding">
            <h2 class="heading" >{{translation.txt[i=0]}}</h2>             <!-- i=0 -->
            <span class="text"  >{{translation.txt[i=i+1]}}</span>
            <br>
            <span class="text"  >{{translation.txt[i=i+1]}}</span>
            <br>
            <br>
            <h2 class="heading" >{{translation.txt[i=i+1]}}</h2>
            <span class="text"  >{{translation.txt[i=i+1]}}: {{author}}</span>
            <br>
            <span class="text"  >{{translation.txt[i=i+1]}}: {{version}}</span>
            <br>
            <span class="text"  >{{translation.txt[i=i+1]}} {{thanks}}</span>
            <br>
            <br>
            <span class="text"  >{{translation.txt[i=i+1]}} {{email}}.</span>
            <br><br><br><br>
          </ion-content>
        </ion-side-menu>

        <!-- Settings -->
        <!-- BUG : txt[i] must be static, variable does not work -->
        <ion-side-menu side="right" class="screen settings">
          <ion-content id="{{appColor}}">
            <h2 class="heading" >{{translation.txt[8]}}</h2>               <!-- i=8 -->
            <!-- Select difficulty -->
            <ion-radio ng-value       = "item.value"
                      ng-model       = "diffChoice"
                      icon           = "ion-checkmark-circled"
                      name           = "difficulty"
                      ng-repeat      = "item in diffList"
                      ng-click       = "diffChange(item.value)">  <!-- diffList: see difficulty.json -->
              {{translation.diff[item.value]}}
            </ion-radio>
            <br>
            <!-- Select language -->
            <ion-radio ng-value       = "item.value"
                      ng-model       = "langChoice"
                      icon           = "ion-checkmark-circled"
                      name           = "language"
                      ng-repeat      = "item in langList"
                      ng-click       = "langChange(item.value)">  <!-- langList: see lang.json -->
              {{item.text}}
           </ion-radio>
           <br>
           <!-- Toggles the color-blindness-mode on or off -->
           <ion-toggle  ng-model      = "item.checked"
                        name          = "colorBlindness"
                        toggle-class  = "toggle-assertive"
                        ng-repeat     = "item in blindList"
                        ng-click      = "blindChange(item.checked)">
              {{translation.txt[9]}}
            </ion-toggle>
            <br><br><br>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>

      <!-- Footer -->
      <div class="bar bar-footer bar-{{appColor}} padding-bottom">
        <button ng-click="showScreen('help')" class="button button-icon icon-left ion-help-circled"></button>   <!-- Help button -->
        <h1     ng-click="toggleScore()" class="footerButton button button-clear">{{score}}</h1>                <!-- Click counter -->
        <button ng-click="showScreen('settings')" class="button button-icon icon-right ion-gear-b"></button>    <!-- Settings Button -->
      </div>

    </ion-pane>

  </body>
</html>
