.screen {
  padding         : 5px 5px 5px 5px !important;
  /*background-color: #00a01a; /*(old color)*/
}
.heading {
  text-align: center !important;
  color     : #ffffff;
}
.text {
	text-transform: none   !important;
	word-break    : normal !important;
  color         : #ffffff;
}

.title {
  font-size: 40px    !important;
  color    : #ffffff !important;
}

.swiper-container {
  width: 100%;  !important
  height: 100%; !important
}

#gameOver {
  position: fixed;
  z-index: 1000;
  width: auto;
  height: 40%;
  top: 20%;
}
#gameOverTitle {
  font-size: 60px;
  color: #ffffff;
}

/* Colors for side-menues */
#light     {  background-color: #fff;     }
#stable    {  background-color: #f8f8f8;  }
#positive  {  background-color: #387ef5;  }
#calm      {  background-color: #11c1f3;  }
#balanced  {  background-color: #33cd5f;  }
#energized {  background-color: #ffc900;  }
#assertive {  background-color: #ef473a;  }
#royal     {  background-color: #886aea   }
#dark      {  background-color: #444;     }
